# Created by venv; see https://docs.python.org/3/library/venv.html
*.pyc
__pycache__/
*.sqlite3
.env
*.env
*.db
*.DS_Store
*.egg-info/ 
*.egg
*.log
*.pyo
*.pyd
*.coverage
*.cover
*.hypothesis/
*.tox
*.pytest_cache
*.mypy_cache
*.coverage.*
